h1{
    color: midnightblue;
}
#economy h2{
    color: yellow;
}
#economy{
    color: rgb(210, 210, 7);
}
#sports h2{
    color: green;
}
#sports{
    color: rgb(34, 235, 34);
}
#moda h2{
    color: blue;
}
#moda{
    color: rgb(67, 67, 202);
}




